@import 'bg';
@import 'nav';

html {
	/* margin: 0 auto;
	max-width: 1000px; */

	font-family: "Helvetica";
	color: #F5F5F5;

	body {
		.main {
			position: relative;
			padding-top: 250px;
		}

		.header {
			background-color: #F5F5F5;
			padding: 3px;
			color: #3F3F3F;
		}

		.portfolioPiece {
			position: relative;
			perspective: 800px;
			display: inline-block;

			&:nth-child(even) {
				margin: auto;
			}
		}

		.email {
			text-align: center;
		}

		.footer {
			text-align: center;

			a {
				text-decoration: none;
				color: #F5F5F5;

				&:hover {
					color: #BFBFBF;
				}
			}

			.emailLink:before {
				content: '';
				font-family: 'FontAwesome';
			}
		}
	}
}