html {
	margin: 0 auto;
	max-width: 1000px;

	font-family: "Helvetica";
	color: #F5F5F5;

	body {
		background: linear-gradient(42deg, #248cc6, #e86cbd);
		background-size: 400% 400%;

		-webkit-animation:  30s ease infinite;
		-moz-animation: backgroundAnimation 30s ease infinite;
		-o-animation: backgroundAnimation 30s ease infinite;
		animation: backgroundAnimation 30s ease infinite;

		@-webkit-keyframes backgroundAnimation {
		    0%{background-position:54% 0%}
		    50%{background-position:47% 100%}
		    100%{background-position:54% 0%}
		}
		@-moz-keyframes backgroundAnimation {
		    0%{background-position:54% 0%}
		    50%{background-position:47% 100%}
		    100%{background-position:54% 0%}
		}
		@-o-keyframes backgroundAnimation {
		    0%{background-position:54% 0%}
		    50%{background-position:47% 100%}
		    100%{background-position:54% 0%}
		}
		@keyframes backgroundAnimation { 
		    0%{background-position:54% 0%}
		    50%{background-position:47% 100%}
		    100%{background-position:54% 0%}
		}

		.header {
			text-align: center;
		}

		.portfolioPiece {
			cursor: pointer;
			position: relative;
			perspective: 800px;
			display: inline-block;

			.flipping {
				width: 100%;
				height: 100%;
				position: absolute;
				transform-style: preserve-3d;
				transition: transform 1s;

				.flipped {
					transform: rotateY(180deg);
				}

				& figure {
					margin: 0;
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					backface-visibility: hidden;
				}

				.front {
					background: white;
				}

				.back {
					background: black;
					transform: rotateY( 180deg );
				}
			}
		}

		.email {
			text-align: center;
		}

		.footer {
			text-align: center;

			a {
				text-decoration: none;
				color: #F5F5F5;

				&:hover {
					color: #BFBFBF;
				}
			}

			.emailLink:before {
				content: '';
				font-family: 'FontAwesome';
			}
		}
	}
}

//import all other component Sass